/* Ipad Pro */
@media (min-width: 1024px) and (max-width: 1239px){
    .home-product{
        /* min-width: 1000px; */
        /* width: 800px; */
        width: 768px;
        margin: 0 auto;
        overflow: hidden;
    }
    .product-topSreen_navItem-link_pc{
        display: none;
    }
    .product-fullscreen-item_pc{
        display: none;
    }
    .product-content-botScreen_right-img-link-pc{
        display: none;
    }
    ul.product-topScreen_navList{
        width: 450px;
        margin: 0;
        top: 0;
        height: 90px;
        padding: 0;
        padding-right: 20px;
    }
    ul.product-topScreen_navList::before {
        content: "";
        display: block;
        width: 95px;
        height: 2px;
        background-color: #fff;
        transform: translate(347px,44px);
        margin-left: 10px;
    }
    .product-topScreen_line{
        display: none;
    }
    .product-fullscreen-item_pc{
        display: none;
    }
    .product-content{
        bottom: -60px;
    }
    a.product-topSreen_navItem-link{
        padding: 0;
    }
    div.product-content-botScreen_right{
        padding: 0;
    }
    img.product-topScreen_logo-img{
        width: 60px;
    }
    .product-content-botScreen_right-img{
        transform: translate(2px,-40px);
    }
    div.product-topScreen_logo {
        top: 25px;
        left: 35px;
    }
    div.product-content-botScreen{
        flex-direction: column;
        padding: 0;
    }
    .product-content-botScreen_left{
        padding: 0 70px;
    }
    .product-content-botScreen_left-text{
        left: 150px;
        top: 130px;
    }
    .product-content-botScreen_left-textList{
        padding: 0;
        padding-left: 65px;
    }

   
}
    
/* PC */
@media (min-width: 1300px) {
    .home-product{
        min-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }
    .product-fullscreen-item_tablet{
        display: none;
    }
    .product-content-botScreen_right-img-link-tablet{
        display: none;
    }
}


/* MOBILE */
@media (max-width: 739px){
    .home-product{
        /* min-width: 1000px; */
        /* width: 800px; */
        width: 375px;
        margin: 0 auto;
        overflow: hidden;
    }
    .product-fullscreen-item_pc{
        display: none;
    }
    .product-fullscreen-item_tablet{
        display: none;
    }
    .product-topScreen_line,
    .product-topScreen_navList{
        display: none;
    }
    .product-topScreen_list{
        display: block;
    }
    .product-topScreen{
        display: flex;
        position: fixed;
        top:20px;
    
    }
    .product-topScreen_list{
        
    }
    .product-topScreen_logo{
        top: 15px;
        left: 30px;
    }
    .product-topScreen_list{
        position: absolute;
        top: -15px; 
        left: 315px; 
        font-size: 35px;
        color: #fff;
    }
    .product-content{
        bottom: 25px;
    }
    div.product-content-botScreen{
        padding: 0;
        flex-direction: column;
    }
    
    .product-content-botScreen_left{
        width: 87%;
        text-align: center;
    }
    .product-content-botScreen_left-text{
        font-size: 1.1rem;
        /* text-align: center; */
    }
    .product-content-botScreen_left-textMain{
        font-size: 5.5rem;
    }
    .product-content-botScreen_left-textSupport{
        font-size: 10px;
        margin-bottom: -20px;
    }
    .product-content-botScreen_right{
        justify-content: center;
        margin-bottom: 70px;
    }

    .product-content-botScreen_right-round{
        width: 170px;
        height: 170px;
        /* width: 100%; */
    }
    .product-topScreen_navList-mobile_closed{
        font-size: 20px;
        color: #333;
        position: absolute;
        top: 0;
        right: 0;
    }

    
}